* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcea97;
}

h1 {
  font-size: 2em;
  margin: 1em;
}

h2 {
  font-size: 1em;
  margin: 1em;
}

p {
  margin: 1em;
}

.container {
  display: grid;
  grid-template-columns: 1160px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.bg {
  width: 100%;
  overflow: hidden;
  padding-top: 4em;
  background-color: white;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 80%;
  max-width: 1500px;
}

nav ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

nav li {
  list-style: none;
}

nav li:active {
  background-color: #ebedeb;
}

nav a {
  display: inline-block;
  position: relative;
  padding: 25px;
  margin: 0 25px;
  text-decoration: none;
  color: black;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c4963f;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  padding: 2em 3em;
}

.banner {
  display: flex;
}

.banner article {
  flex: 1;
}

.banner-container {
  position: relative;
  color: white;
}

.banner-container div {
  width: 20em;
  position: absolute;
  top: 8px;
  left: 16px;
}

.banner-container a {
  color: inherit;
}

@media (max-width: 720px) {
  .banner-container div {
    color: black;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.banner + section {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 28px;
  margin-top: 28px;
}

.banner + section > article {
  flex: 0 21em;
}

.banner + section > article:first-child {
  order: 1;
}

.banner + section > article:last-child {
  order: 2;
}

.banner + section h2 {
  margin-left: 0;
}

.banner + section p {
  margin-bottom: 0;
  margin-left: 0;
}

.banner + section a {
  margin-left: 0;
  color: inherit;
}

@media (max-width: 430px) {
  .banner-container div {
    font-size: 4vw;
  }

  .banner + section {
    width: 70vw;
  }

  .banner + section > article {
    width: 80%;
  }

  .banner + section .cropped-img-article {
    width: 80vw;
  }

  .banner + section .cropped-img-article #jewelry2 {
    margin-left: -5em;
  }

  .banner + section .cropped-img-article #jewelry3 {
    margin-left: -10em;
  }

  .banner + section .cropped-img-article #jewelry4 {
    margin-left: -10em;
  }
}

#jewelry1 {
  width: 100%;
}

.cropped-img-article {
  width: 21em;
  height: 17em;
  overflow: hidden;
}

#jewelry2 {
  width: 26em;
  margin-left: -2em;
  margin-top: -2.5em;
}

#jewelry3 {
  width: 26em;
  margin-left: -2.3em;
}

#jewelry4 {
  width: 26em;
  margin-left: -2em;
  margin-top: -10em;
}

footer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  height: 10em;
  width: 100%;
  font-size: 0.8em;
}

#copyright-logo {
  width: 7em;
  margin: 1em;
  flex: 0;
}

#copyright-text {
  margin: 1em;
  flex: 0 18em;
}
