* {
  margin: 0;
  padding: 0;
}

body {
  margin: 3em 3em 5% 5%;
}

h1 {
  font-size: 3em;
  margin: 1em;
}

h2 {
  font-size: 2em;
  margin: 1em;
}

p {
  margin: 1em;
}

/*
.container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: 132px 69px 2fr 1fr;
  grid-gap: 10px;
}
*/

header {
  grid-area: header;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 80vw;
  max-width: 1500px;
}

nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  flex-flow: wrap;
  background-color: #2b2d42;
}

nav li {
  list-style: none;
}

nav a {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-decoration: none;
  color: #ffff;
}

/* nav li:last-child {
  margin-left: auto;
} */

main {
  grid-area: main;
}

section {
  display: flex;
  flex-flow: wrap;
}

article {
  flex: 1;
}

footer {
  grid-area: footer;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#copyright-logo {
  width: 7em;
  flex: 0;
}

#copyright-text {
  margin-left: 2em;
  flex: 0 18em;
}
